{% load static %}
<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  data-color-theme="Aqua_Theme"
  data-layout="vertical"
  data-card="shadow"
>
  <head>
    {% include "backend/partials/head.html" %}
    {% block css %}{% endblock css %}
    <title>Modernize Bootstrap Admin</title>
  </head>

  <body data-sidebartype="full">
    <div
      class="toast toast-onload align-items-center text-bg-primary border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-body hstack align-items-start gap-6">
        <i class="ti ti-alert-circle fs-6"></i>
        <div>
          <h5 class="text-white fs-3 mb-1">Welcome to Modernize</h5>
          <h6 class="text-white fs-2 mb-0">
            Easy to costomize the Template!!!
          </h6>
        </div>
        <button
          type="button"
          class="btn-close btn-close-white fs-2 m-0 ms-auto shadow-none"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img
        src="{% static 'backend/assets/images/logos/favicon.png'%}"
        alt="loader"
        class="lds-ripple img-fluid"
      />
    </div>
    <div id="main-wrapper">
      <!-- Sidebar Start -->
      <aside class="left-sidebar with-vertical">
        <div>{% include "backend/partials/sidebar.html" %}</div>
      </aside>
      <!--  Sidebar End -->
      <div class="page-wrapper">
        <!--  Header Start -->
        <header class="topbar">
          <div class="with-vertical">
            {% include "backend/partials/header.html" %}
          </div>
        </header>
        <!--  Header End -->


        <div class="body-wrapper">
          <div class="container-fluid">
          {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
      {% include "backend/partials/header-components/dd-searchbar.html" %}
    </div>
    <div class="dark-transparent sidebartoggler"></div>
    {% include "backend/partials/scripts.html" %}
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
