{% load static %}
<div class="d-flex align-items-center justify-content-between py-3 px-7">
  <h5 class="mb-0 fs-5 fw-semibold">Bildirimler</h5>
  <span class="badge text-bg-primary rounded-4 px-3 py-1 lh-sm">1 Yeni </span>
</div>
<div class="message-body" data-simplebar>
  <a href="javascript:void(0)" class="py-6 px-7 d-flex align-items-center dropdown-item">
    <span class="me-3">
      <img src="{% static 'backend/assets/images/profile/user-2.jpg'%}" alt="user" class="rounded-circle" width="48" height="48" />
    </span>
    <div class="w-100">
      <h6 class="mb-1 fw-semibold lh-base">Ahlas Doksanbir yeni üye</h6>
      <span class="fs-2 d-block text-body-secondary">Tebrikler mesajı gönder</span>
    </div>
  </a>
</div>
<div class="py-6 px-7 mb-1">
  <button class="btn btn-outline-primary w-100">Tüm bildirimleri gör</button>
</div>